.component {
    all: unset;
    padding: rem(12) rem(16);
    border-radius: rem(3);
    font-weight: bold;
    font-size: rem(13);
    line-height: rem(14);
    text-transform: uppercase;

    &.gray {
        background-color: $colorGray40;
        border: rem(1) solid $colorGray30;
        color: $colorGray80;
    }

    &.green {
        background-color: $colorGreen10;
        color: $colorWhite;
    }

    &.blue {
        background-color: $colorBlue10;
        color: $colorWhite;
    }

    &.blueWithoutBG {
        font-size: rem(12);
        color: $colorBlue10;
        background-color: transparent;
    }

    &:hover,
    &:focus {
        filter: brightness(0.9);
    }

    &:disabled {
        filter: opacity(0.6);
        cursor: not-allowed;
    }
}
