.component {
    position: relative;
}

.icon {
    width: rem(34);
    height: rem(33);
    position: absolute;
    right: rem(2);
    top: rem(1);
    border-radius: 0 rem(2) rem(2) 0;
    background-color: $colorGray10;
    pointer-events: none;

    svg {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

.container {
    input {
        @extend %input;

        padding-right: rem(36);
    }

    div[role='heading'] > div {
        font-size: rem(16);
    }
}

.overlayWrapper {
    position: relative;
}

.overlay {
    position: absolute;
    left: 0;
    z-index: 1;

    background: white;
    box-shadow: 0 rem(2) rem(5) rgba(0, 0, 0, 0.15);

    span[class~='DayPicker-NavButton'] {
        all: unset;
        width: rem(36);
        height: rem(36);
        background: $colorGray10;
        border: rem(1) solid $colorGray40;
        border-radius: rem(3);
        display: inline-flex;
        justify-content: center;
        align-items: center;

        position: absolute;
        top: rem(6);
        right: rem(6);
        cursor: pointer;

        &:after {
            content: '';
            width: rem(6);
            height: rem(10);
        }
    }

    span[class~='DayPicker-NavButton--prev'] {
        transform: translateX(calc(-100% - rem(4)));

        &:after {
            background-color: $colorGray80;
            mask-image: url('/assets/svg/prev.svg');
        }
    }

    span[class~='DayPicker-NavButton--next'] {
        &:after {
            background-color: $colorGray80;
            mask-image: url('/assets/svg/next.svg');
        }
    }

    [class~='DayPicker-Day'] {
        min-width: rem(30);
        min-height: rem(30);
        width: rem(30);
        height: rem(30);
        padding: rem(4);
        color: $colorBrown20;
    }

    [class~='DayPicker-Day--selected'] {
        background: $colorGray10 !important;
        color: $colorBrown20 !important;
        position: relative;

        &:before {
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            border: rem(1) solid $colorGray40;
            border-radius: 50%;
        }
    }
}
