.component {
    position: relative;
}

.select {
    @extend %input;

    padding-right: rem(36);
}

.icon {
    position: absolute;
    right: rem(2);
    top: 50%;
    transform: translateY(-50%);
    padding: rem(4) rem(10);
    background-color: $colorWhite;
    pointer-events: none;
}
