.back {
    margin-bottom: rem(6);
    font-size: rem(14);
    line-height: rem(20);
    letter-spacing: rem(-0.0875);
    color: $colorBrown20;
    font-weight: bold;
    display: inline-block;
    cursor: pointer;

    &:before {
        content: '';
        display: inline-block;
        width: rem(6);
        height: rem(9);
        background-color: $colorBrown20;
        mask-image: url('/assets/svg/prev.svg');
        margin-right: rem(8);
    }
}

.subheading {
    @extend %subheading;
    margin-top: 0;
    margin-bottom: rem(16);
}

.main {
}

.leftBlock {
    padding: rem(32) rem(30);
}

.rightBlock {
    background-color: $colorGray10;
    padding: rem(32) rem(30);
    height: 100%;
}

.details {
    margin-top: rem(32);
}
