@font-face {
    font-family: 'Avenir';
    src: url('/assets/fonts/Avenir-Medium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir';
    src: url('/assets/fonts/Avenir-MediumOblique.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
}
