%input {
    border: rem(1) solid $colorGray40;
    border-radius: rem(3);
    width: 100%;
    height: rem(36);
    padding: rem(6) rem(12);
    font-size: rem(14);
    line-height: rem(14);
    color: $colorGray80;
}

%subheading {
    font-size: rem(20);
    line-height: rem(12);
    font-weight: bold;
    color: $colorBrown20;
}
