// colors
$colorWhite: #ffffff;
$colorBlack: #000000;

$colorGray10: #f8f9fc;
$colorGray30: #e4e7f0;
$colorGray40: #e7eaf3;
$colorGray50: #eaecf4;
$colorGray50: #eaecf4;
$colorGray70: #788999;
$colorGray80: #2f4858;

$colorBrown10: #595959;
$colorBrown20: #31343a;

$colorBlue10: #0e6cc2;

$colorGreen10: #19b385;

$colorBrand: #ff7b56;

// font
$font: 'Avenir', serif;
