$sidebarWidth: rem(60);
$headerHeight: rem(40);

.component {
    width: 100%;
    height: 100%;
    padding-left: $sidebarWidth;
    padding-top: $headerHeight;
    position: relative;
}

.sidebar {
    position: fixed;
    width: $sidebarWidth;
    height: 100vh;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.header {
    position: fixed;
    width: calc(100% - #{$sidebarWidth});
    height: $headerHeight;
    left: $sidebarWidth;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: $colorWhite;
    z-index: 1;
}

.main {
    width: 100%;
    height: 100%;
    min-height: calc(100vh - #{$headerHeight});
    padding: rem(24) rem(30);
    position: relative;
}
