.component {
    padding-bottom: rem(28);
    border-bottom: rem(1) solid $colorGray50;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.label {
    font-size: rem(34);
    line-height: rem(36);
    color: $colorBrown20;
    margin-bottom: 0;
    font-weight: bold;
}

.buttons {
    display: flex;
    align-items: center;

    & > *:not(:last-child) {
        margin-right: rem(10);
    }
}
