.preloader {
    width: 100%;
    height: 100%;
    min-height: rem(160);
    position: relative;

    svg {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

.table {
    border: rem(1) solid $colorGray40;
    border-radius: rem(3);
}

.tableHead {
    background-color: $colorGray40;
    position: relative;
    top: rem(-1);
    padding: rem(20) rem(4) rem(16);
}

.tableHeadCell {
    font-size: rem(12);
    line-height: rem(12);
    letter-spacing: rem(-0.2);
    color: $colorGray80;
    font-weight: 500;
}

.tableBodyRow {
    padding: rem(16) rem(4);

    &:nth-of-type(2n + 1) {
        background-color: $colorGray10;
    }
}

.tableBodyCell {
    font-size: rem(14);
    color: $colorBrown20;
    font-weight: 500;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.icons {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    & > *:not(:last-child) {
        margin-right: rem(16);
    }
}

.editLink {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: $colorBrown10;

    &:hover {
        color: $colorBrown10;
    }
}

.warning {
    text-align: center;
    display: block;
    color: $colorBrand;
    font-weight: bold;
}
