.button {
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
        margin-right: rem(8);
        position: relative;
        bottom: rem(2);
    }
}

.filters {
    margin: rem(16) 0 rem(20);
}

.table {
}
