.modal {
    z-index: 2;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}

.background {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}

.main {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    width: 70%;
    max-width: rem(600);
    height: auto;
    max-height: rem(400);
    background-color: $colorWhite;
    box-shadow: 0 0 rem(20) rgba(4, 75, 120, 0.1);
    border-radius: rem(3);
    padding: rem(30) rem(32);
}

.header {
    padding-right: rem(40);
    position: relative;
    margin-bottom: rem(24);
}

.headerTitle {
    font-size: rem(20);
    line-height: rem(22);
    color: $colorBrown20;
    margin: 0;
}

.closeIcon {
    width: rem(14);
    height: rem(14);
    cursor: pointer;
    color: $colorBrown20;
    position: absolute;
    right: 0;
    top: 0;
}

.buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: rem(12);

    & > *:not(:last-child) {
        margin-right: rem(8);
    }
}
